<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body ng-app="myApp">
  <div ng-controller="ContactController">

  <div>
    <form>
      <label>Name</label>
      <input type="text" name="name" ng-model="newContact.name" />
      <br /><br />
      <label>Email</label>
      <input type="text" name="email" ng-model="newContact.email" />
      <br /><br />
      <label>Phone</label>
      <input type="text" name="phone" ng-model="newContact.phone" />
      <br /><br />

      <input type="hidden" ng-model="newContact.id"/>
      <input type="button" value="Save" ng-click="saveContact()"/>
    </form>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts">
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.phone}}</td>
          <td>
            <a href="#" ng-click="edit(contact.id)">Edit</a>
            <a href="#" ng-click="delete(contact.id)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="core/version/version.js"></script>
  <script src="core/version/version-directive.js"></script>
  <script src="core/version/interpolate-filter.js"></script>
</body>

</html>